<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>69689474486-nhql5aru6pp294r5ib89srqbp24e4vp0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.69689474486-nhql5aru6pp294r5ib89srqbp24e4vp0</string>
	<key>API_KEY</key>
	<string>AIzaSyA7aROj36bZsPcM-TGwwAYoA9rMj3i5IPQ</string>
	<key>GCM_SENDER_ID</key>
	<string>69689474486</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.invisible.labor</string>
	<key>PROJECT_ID</key>
	<string>invisible-labor-ba95f</string>
	<key>STORAGE_BUCKET</key>
	<string>invisible-labor-ba95f.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:69689474486:ios:e1c3385cfc81925017d517</string>
</dict>
</plist>